.container{
    padding: 50px;
    width: 100vw;
    height: 100vh;

    header{
        margin-bottom: 20px;
        .title{
            margin-bottom: 10px;
        }
    }

    main{
        
    }
}